# COGS 108 - Data Checkpoint

# Names

- Aiden Jee
- Rishmal Rohin Kumar
- Gavin Zhou

<a id='research_question'></a>
# Research Question

What biological, health, and socioeconomic factors are most indicative of diabetes or prediabetes? Do the most indicative factors vary based on Sex?

* Updated based on Feedback from Project Proposal

# Hypothesis

We hypothesize that BMI, High Cholesterol and Smoking history will be the most indicative of diabetes or prediabetes. We also hypothesize that this will be true for both men and women.

* Updated based on Feedback from Project Proposal

# Dataset(s)

**Dataset Name:** Diabetes Health Indicators Dataset

**Link to the Dataset:** https://www.kaggle.com/datasets/alexteboul/diabetes-health-indicators-dataset?resource=download&select=diabetes_binary_health_indicators_BRFSS2015.csv

**Number of Observations:** 253,680 observations


**Description of Dataset:** This dataset is from the Behavioral Risk Factor Surveillance System (BRFSS), which is a health-related telephone survey in the United States that is collected annually by the CDC. The survey asks Americans about health-related risk behaviors and chronic health conditions. This dataset is from the 2015 survey.

| **Attribute** | **Description** |
| --- | --- |
| Diabetes | Does participant have Diabetes? Boolean Value: 0 = No, 1 = Yes |
| High Blood Pressure | Does participant have High Blood Pressure? Boolean Value: 0 = No, 1 = Yes |
| High Cholestrol | Does participant have High Cholesterol? Boolean Value: 0 = No, 1 = Yes |
| Cholestrol Check | Has the participant had a Cholesterol Check in the past 5 years? Boolean Value: 0 = No, 1 = Yes |
| BMI | Body Mass Index of the participant. Integer Value |
| Smoking History | Has the participant Smoked at least 100 cigarettes in their entire life? Boolean Value: 0 = No, 1 = Yes |
| Stroke | Has the participant ever had a Stroke? Boolean Value: 0 = No, 1 = Yes |
| Heart Disease or Attack | Does the participant have Coronary Heart Disease or Myocardial Infarction? Boolean Value: 0 = No, 1 = Yes |
| Physical Activity | Has the participant done Physical Activity in the past 30 days, not including their job? Boolean Value: 0 = No, 1 = Yes |
| Heavy Alcohol Consumption | Adult Men: At least 14 drinks per week, Adult Women: At least 7 drinks per week. Boolean Value: 0 = No, 1 = Yes |
| Mental Health | Number of Days the participant had poor Mental Health over the last 30 days? Integer Value |
| Sex | Participant's Sex. Boolean Value: 0 = Female, 1 = Male |
| Age | Participant's Age in AGE5YR (14-Level Age Category). Integer Value: 1 = 18-24, . . . , 9 = 60-64, . . . , 13 = 80 or older |
| Income | Particpant's Income in INCOME2 (8-Level Income Category). Integer Value: 1  = Less than $10,000, . . . , 8 = $75,000 or more |

# Setup

In [3]:
import pandas as pd
import numpy as np

In [34]:
data = pd.read_csv("data/diabetes_binary_health_indicators_BRFSS2015.csv")

# Data Cleaning

First, let's take a look at the dataset.

In [4]:
data.head()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

We decided to focus on a specific subset of the available features for our study. We will remove the unnecessary columns from our dataframe

In [5]:
data.columns

Index(['Diabetes_binary', 'HighBP', 'HighChol', 'CholCheck', 'BMI', 'Smoker',
       'Stroke', 'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth',
       'MentHlth', 'PhysHlth', 'DiffWalk', 'Sex', 'Age', 'Education',
       'Income'],
      dtype='object')

In [35]:
data = data[['Diabetes_binary', 'HighBP', 'HighChol', 'CholCheck', 'BMI', 'Smoker', 'Stroke', 'HeartDiseaseorAttack', 'PhysActivity', 'HvyAlcoholConsump', 'MentHlth', 'Sex', 'Age', 'Income']]
data.head()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,HvyAlcoholConsump,MentHlth,Sex,Age,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,18.0,0.0,9.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,7.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,0.0,30.0,0.0,9.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,11.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,0.0,3.0,0.0,11.0,4.0

Since we are going to be considering many of these factors in conjuction with one another, we want to make sure to get rid of all rows that have any empty columns. Fortunately, we found that this dataset had no rows with empty columns.

In [8]:
data.isna().sum()

Diabetes_binary         0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
HeartDiseaseorAttack    0
PhysActivity            0
HvyAlcoholConsump       0
MentHlth                0
Sex                     0
Age                     0
Income                  0
dtype: int64

We noticed that a lot of the column names are unclear and confusing, so we decided to rename many of the columns

In [36]:
data = data.rename(columns = {"Diabetes_binary": "Diabetes", "HighBP": "High Blood Pressure", "HighChol" : "High Cholesterol", "CholCheck": "Cholesterol Check", "Smoker": "Smoking History", "HeartDiseaseorAttack": "Heart Disease or Attack", "PhysActivity": "Physical Activity", "HvyAlcoholConsump": "Heavy Alcohol Consumption", "MentHlth": "Mental Health"})
data.head()

,Diabetes,High Blood Pressure,High Cholesterol,Cholesterol Check,BMI,Smoking History,Stroke,Heart Disease or Attack,Physical Activity,Heavy Alcohol Consumption,Mental Health,Sex,Age,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,18.0,0.0,9.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,7.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,0.0,30.0,0.0,9.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,11.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,0.0,3.0,0.0,11.0,4.0

Lastly, let's take a look at all the values and there counts for each of the columns of the dataframe in order to check if there is anything out of the ordinary that might signify an issue

In [12]:
data['Diabetes'].value_counts()

0.0    218334
1.0     35346
Name: Diabetes, dtype: int64

In [13]:
data['High Blood Pressure'].value_counts()

0.0    144851
1.0    108829
Name: High Blood Pressure, dtype: int64

In [14]:
data['High Cholesterol'].value_counts()

0.0    146089
1.0    107591
Name: High Cholesterol, dtype: int64

In [37]:
data['Cholesterol Check'].value_counts()

1.0    244210
0.0      9470
Name: Cholesterol Check, dtype: int64

In [16]:
data['BMI'].value_counts()

27.0    24606
26.0    20562
24.0    19550
25.0    17146
28.0    16545
        ...
85.0        1
91.0        1
86.0        1
90.0        1
78.0        1
Name: BMI, Length: 84, dtype: int64

In [19]:
data['Smoking History'].value_counts()

0.0    141257
1.0    112423
Name: Smoking History, dtype: int64

In [20]:
data['Stroke'].value_counts()

0.0    243388
1.0     10292
Name: Stroke, dtype: int64

In [21]:
data['Heart Disease or Attack'].value_counts()

0.0    229787
1.0     23893
Name: Heart Disease or Attack, dtype: int64

In [22]:
data['Physical Activity'].value_counts()

1.0    191920
0.0     61760
Name: Physical Activity, dtype: int64

In [23]:
data['Heavy Alcohol Consumption'].value_counts()

0.0    239424
1.0     14256
Name: Heavy Alcohol Consumption, dtype: int64

In [24]:
data['Mental Health'].value_counts()

0.0     175680
2.0      13054
30.0     12088
5.0       9030
1.0       8538
3.0       7381
10.0      6373
15.0      5505
4.0       3789
20.0      3364
7.0       3100
25.0      1188
14.0      1167
6.0        988
8.0        639
12.0       398
28.0       327
21.0       227
29.0       158
18.0        97
9.0         91
16.0        88
27.0        79
22.0        63
17.0        54
26.0        45
11.0        41
13.0        41
23.0        38
24.0        33
19.0        16
Name: Mental Health, dtype: int64

In [18]:
data['Sex'].value_counts()

0.0    141974
1.0    111706
Name: Sex, dtype: int64

In [25]:
data['Age'].value_counts()

9.0     33244
10.0    32194
8.0     30832
7.0     26314
11.0    23533
6.0     19819
13.0    17363
5.0     16157
12.0    15980
4.0     13823
3.0     11123
2.0      7598
1.0      5700
Name: Age, dtype: int64

In [26]:
data['Income'].value_counts()

8.0    90385
7.0    43219
6.0    36470
5.0    25883
4.0    20135
3.0    15994
2.0    11783
1.0     9811
Name: Income, dtype: int64